@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500&family=Dancing+Script:wght@500;600;700&family=Permanent+Marker&family=Poppins:ital@0;1&display=swap");
/* line 1, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 9, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.fondoMenu {
  background-color: #419197;
}

/* line 15, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 10px;
  text-align: justify;
  line-height: 40px;
  letter-spacing: 0px;
  word-spacing: 10;
  text-transform: uppercase;
  color: #020202;
}

/*emparejo por especifidad a boostrap*/
/* line 30, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.navbar-light .navbar-nav .nav-link {
  color: white;
}

/* line 34, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #419197;
  background-color: #12486b;
  border-radius: 10px;
}

/* line 41, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.active {
  background-color: #419197;
}

/* line 45, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
footer {
  background-color: #f5fccd;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0rem;
}

/* line 53, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.navbar-nav {
  background-color: #419197;
}

/* line 58, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
section {
  align-content: center;
}

/* line 62, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
#titulo-principal {
  color: black;
  font-size: 48px;
}

/* line 67, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
body {
  padding: 10px;
}

/* line 72, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.container img {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 78, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.container {
  display: flex;
  justify-content: center;
  height: 20vh;
}

/* line 84, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
#encabezado {
  font-family: 'Dancing Script', cursive;
  color: #12486b;
  font-size: 90px;
  text-align: center;
}

/* line 92, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.card {
  align-content: space-between;
}

/* line 96, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-content: center;
}

/* line 105, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div1 {
  grid-area: 1 / 7 / 5 / 9;
}

/* line 109, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div2 {
  grid-area: 5 / 7 / 7 / 9;
}

/* line 113, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div3 {
  grid-area: 4 / 1 / 7 / 3;
}

/* line 117, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div4 {
  grid-area: 1 / 1 / 4 / 4;
}

/* line 121, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div5 {
  grid-area: 3 / 4 / 7 / 7;
}

/* line 125, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div6 {
  grid-area: 1 / 4 / 3 / 7;
}

/* line 129, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.div7 {
  grid-area: 4 / 3 / 7 / 4;
}

/* line 133, ../../../Desktop/proyecto jaramillo pets nuevo/sass/estilos.scss */
.imgalimento {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

/*# sourceMappingURL=estilos.css.map */