* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500&family=Dancing+Script:wght@500;600;700&family=Permanent+Marker&family=Poppins:ital@0;1&display=swap');


.fondoMenu {
    background-color: rgb(65, 145, 151);
}



h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 10px;
    text-align: justify;
    line-height: 40px;
    letter-spacing: 0px;
    word-spacing: 10;
    text-transform: uppercase;
    color: rgb(2, 2, 2);

}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(65, 145, 151);
    background-color: rgb(18, 72, 107);
    border-radius: 10px;
}


.active {
    background-color: rgb(65, 145, 151);
}

footer {
    background-color: rgb(245, 252, 205);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0rem;

}

.navbar-nav {
    background-color: rgb(65, 145, 151);

}

section {
    align-content: center;
}

#titulo-principal {
    color: black;
    font-size: 48px;
}

body {
    padding: 10px;
}


.container img {
    margin-top: 0px;
    margin-bottom: 0px;

}

.container {
    display: flex;
    justify-content: center;
    height: 20vh;
}

#encabezado {
    font-family: 'Dancing Script', cursive;
    color: rgb(18, 72, 107);
    font-size: 90px;
    text-align: center;

}

.card {
    display: flex;
    align-content: space-between;
    gap: 30px;
    border-radius: 30px;
    border: none;

}



.imagen{
    width: 100%;
}

.imagen img{
    width: 100%;
}
.galeria{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    
}
@media (min-width: 100px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px){
    .galeria{
        grid-template-columns: repeat(2, 1fr) ;
    }
}

@media (min-width:720px){
    .galeria{
        grid-template-columns: repeat(3, 1fr) ;
    }
}

@media (min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr) ;
    }
}





.imgalimento {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}