* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500&family=Dancing+Script:wght@500;600;700&family=Permanent+Marker&family=Poppins:ital@0;1&display=swap');


.fondoMenu {
    background-color: rgb(65, 145, 151);
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 10px;
    text-align: justify;
    line-height: 40px;
    letter-spacing: 0px;
    word-spacing: 10;
    text-transform: uppercase;
    color: rgb(2, 2, 2);

}

/*emparejo por especifidad a boostrap*/

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(65, 145, 151);
    background-color: rgb(18, 72, 107);
    border-radius: 10px;
}


.active {
    background-color: rgb(65, 145, 151);
}

footer {
    background-color: rgb(245, 252, 205);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0rem;

}

.navbar-nav {
    background-color: rgb(65, 145, 151);

}

section {
    align-content: center;
}

#titulo-principal {
    color: black;
    font-size: 48px;
}

body {
    padding: 10px;
}


.container img {
    margin-top: 30px;
    margin-bottom: 30px;

}

.container {
    display: flex;
    justify-content: center;
    height: 20vh;
}

#encabezado {
    font-family: 'Dancing Script', cursive;
    color: rgb(18, 72, 107);
    font-size: 90px;
    text-align: center;

}

.card {
    align-content: space-between;
}

.parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-content: center;
}

.div1 {
    grid-area: 1 / 7 / 5 / 9;
}

.div2 {
    grid-area: 5 / 7 / 7 / 9;
}

.div3 {
    grid-area: 4 / 1 / 7 / 3;
}

.div4 {
    grid-area: 1 / 1 / 4 / 4;
}

.div5 {
    grid-area: 3 / 4 / 7 / 7;
}

.div6 {
    grid-area: 1 / 4 / 3 / 7;
}

.div7 {
    grid-area: 4 / 3 / 7 / 4;
}

.imgalimento {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}