* {
    margin: 0;
    padding: 0;
}

.fondoMenu {
    background-color: rgb(18, 72, 107);
}
/*emparejo por especifidad a boostrap*/

.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(65, 145, 151);
    color: background-color: rgb(18, 72, 107);
    border-radius 10px;
}


    .style {
        font-family: fantasy;
    }


    .active {
        background-color: rgb(65, 145, 151);
    }

